.feature {
  width: 23%;
}

.feature-section {
  padding-top: 94px;
  padding-bottom: 94px;

  .feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .feature-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
  }
}

.flex-container1 {
  display: flex;
  justify-content: space-between;
}

